/* Default that came with the fiels */

#movie-backdrop ,#actor-backdrop{
	width: 100%;
}

#actors {
	margin: 24px 16px 0 0;
}

.container {
	padding-top: 8%;
	max-width: 2560px;
	display:grid;
	gap:1.5;
}

/* ---------------------------------------------------------- */

/* The Root Color */
:root {
	--primary-color: #0f0d0d;
	--secondary-color: #f9f9f9;
}

/* ---------------------------------------------------------- */

/* The Body Color */
body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

/* Movies Grid  */
.movies,.mainCard {
	max-width: 2560px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.bigCard{
	border: 1px solid rgba(45, 42, 42, 0.593);
}

/* Phone & ipad flexaple */
@media (max-width: 800px) {
	.movies,.mainCard {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.movies,.mainCard {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* ---------------------------------------------------------- */

/* Cursor Of The Cards */
.card {
	background-color: inherit;
	cursor: pointer;
}

/* ---------------------------------------------------------- */

/* Overview */
.overview {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5%;
	background-color: #fff;
	padding: 1rem;
	transform: translateY(101%);
	transition: transform 0.3 ease-in;
}

/* Overview Hover */
.card:hover .overview {
	background-color: var(--primary-color);
	display: block;
	transform: translateY(24%);
	transition: transform 0.3 ease-out;
}
/* Navbar & footer styles*/
#actors {
    margin: 24px 16px 0 0;
}
/* div a {
    color: black;
} */

a.nav-link {
    color: rgba(218, 217, 217, 0.413);
    text-decoration: none;
    border-radius: 15px;
   
    /* margin: 10px; */
}
.active{
    /* background-color: rebeccapurple; */
    /* pointer-events: none; */
    color: white !important;

}
.nav-item a:hover{
    text-decoration: none;
    /* border: 2px solid purple; */
    color: rgb(229, 184, 48)
}
/* #current{
    background-color: rgb(10, 126, 243);
    color: white;
} */
.dropdown-menu{
    max-height: 660px;
    overflow-y: scroll;
}
.overflow-scroll{
	overflow: hidden !important;
}
footer a{
    color: antiquewhite;
}
.d-flex footer{
    padding: 30px;
}
a.navbar-brand{
    color: #ebbc4f;
    pointer-events: none;
}
/* .nav-css{
	background-color: inherit;
	color: inherit;
} */
#img-card{
	object-fit: contain;
	width: 100%;
}
#genres, #filter{
	background-color: rgb(21, 20, 20);
	
}
#genres li a ,#filter li a {
	color: antiquewhite;
	text-align: center;
}

#genres li a:hover ,#filter li a:hover {
	color: rgb(216, 179, 16);
	background-color: inherit
	/* text-align: center; */
}

.navbar-brand img{
	border-radius: 50%;
}

.d-lg-flex{
	padding: 14px;
}

#copyrightDiv{
	padding: 13px;
}
.name{
	font-size: smaller;
	letter-spacing: 3px; 
}
#actor-biography{
	font-size: larger;
}